.infoBlock {
    display: flex;
    gap: 20px;
    background: #292929;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.leftBlock {
    flex: 1;
}

.rightBlock {
    flex: 1;
    border-left: 1px solid #444;
}

.rightTitle,
.title {
    font-size: 13px;
    margin-block: 0;
}

.rightTitle {
    margin-bottom: 10px;
}

.detailItem {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 2px 0;
}

.todayResults {
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px solid #444;
}

.inputField {
    background: #3A3A3A;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

.label {
    margin-right: 10px;
}

.valueDefault {
    color: #ccc;
}
  
.valueGreen {
    color: #4caf50;
}

.valueRed {
    color: #f44336;
}

.valueBlue {
    color: #2196f3;
}

.actions {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}